### this is an example for running on RECO
### the name must be changed crab.cfg for actual running

[CRAB]
jobtype = cmssw
scheduler = glite
#use_server   = 1

[CMSSW]
datasetpath		= /JetMETTau/Run2010A-PromptReco-v1/RECO
pset			= TrkAnaSkim_jet15U_data_7TeV_cfg.py
lumi_mask               = json.txt
total_number_of_lumis	= 5 
lumis_per_job		= 5
output_file             = trkAnaSkimAOD.root, trkhists.root
runselection		= 136066,136080,136082

[USER]
copy_data		= 1
storage_element		= T2_US_MIT

publish_data = 1
publish_data_name = JMT-R10A-PR1-HfLoose-test
dbs_url_for_publication = https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_01_writer/servlet/DBSServlet

[GRID]
#ce_white_list=ce01.cmsaf.mit.edu
#ce_black_list=ba.infn.it, ac.uk, metu.edu.tr, ciemat.es, res.in
