### this is an example for running on MC
### the name must be changed crab.cfg for actual running

[CRAB]
jobtype = cmssw
scheduler = glite
use_server   = 1

[CMSSW]
datasetpath             = /QCD_Pt30/Spring10-START3X_V26_S09-v1/GEN-SIM-RECO
pset                    = TrkAnaSkim_mc_7TeV_cfg.py

total_number_of_events	= 1000000
events_per_job		= 20000
output_file             = trkAnaSkimAODSIM.root, trkhistsMC.root

[USER]
copy_data		= 1
storage_element		= T2_US_MIT

publish_data = 1
publish_data_name = QCDPT30-S10-356-TRKANASKIM-v2
dbs_url_for_publication = https://cmsdbsprod.cern.ch:8443/cms_dbs_ph_analysis_01_writer/servlet/DBSServlet

[GRID]
#ce_white_list=ce01.cmsaf.mit.edu
ce_black_list=ba.infn.it, ac.uk, metu.edu.tr, ciemat.es, res.in
